.header__basket-counter-wrapper {
  position: absolute;
  background-color: $carrot;
  padding: 3px 5px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  color: $white;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    background-color: $darkest-carrot;
  }

    @media screen and (max-width: $q-hd-screen) {
    }

    @media screen and (max-width: $high-hd-screen) {
    }

    @media screen and (max-width: $full-hd-screen) {
    }

    @media screen and (max-width: $dell-hd-screen) {
    }

    @media screen and (max-width: $mac-hd-screen) {
    }

    @media screen and (max-width: $ready-hd-screen) {
    }

    @media screen and (max-width: $big-tablet-screen) {
      min-width: 10px;
      min-height: 10px;
    }

    @media screen and (max-width: $middle-tablet-screen) {
    }

    @media screen and (max-width: $small-tablet-screen) {
    }

    @media screen and (max-width: $big-phone-screen) {
    }

    @media screen and (max-width: $middle-phone-screen) {
    }

    @media screen and (max-width: $small-phone-screen) {
    }
}

@import "_hiden-js/_header__basket-counter-wrapper_hiden-js";
