.inner-memory__item {
  padding: 10px 20px;
  background-color: $background-color;
  border: 1px solid $dark-gray;
  cursor: pointer;
  border-radius: 4px;

    @media screen and (max-width: $q-hd-screen) {
    }

    @media screen and (max-width: $high-hd-screen) {
    }

    @media screen and (max-width: $full-hd-screen) {
    }

    @media screen and (max-width: $dell-hd-screen) {
    }

    @media screen and (max-width: $mac-hd-screen) {
    }

    @media screen and (max-width: $ready-hd-screen) {
    }

    @media screen and (max-width: $big-tablet-screen) {
    }

    @media screen and (max-width: $middle-tablet-screen) {
    }

    @media screen and (max-width: $small-tablet-screen) {
    }

    @media screen and (max-width: $big-phone-screen) {
    }

    @media screen and (max-width: $middle-phone-screen) {
    }

    @media screen and (max-width: $small-phone-screen) {
    }
}

@import "_current/_inner-memory__item_current";
@import "_hover/_inner-memory__item_hover";
