.button {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: var(--carrot);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  border-radius: 4px;
}
