@import url(_hover/_inner-memory__item_hover.css);
@import url(_current/_inner-memory__item_current.css);

.inner-memory__item {
  padding: 10px 20px;
  background-color: var(--background-color);
  border: 1px solid var(--dark-gray);
  cursor: pointer;
  border-radius: 4px;
}

.inner-memory__item_current {
  border: 2px solid var(--carrot);
}
