.price-menu__button {
  display: flex;
  gap: 15px;
  justify-content: center;

  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../busket.svg");
    background-repeat: no-repeat;
  }

    @media screen and (max-width: $q-hd-screen) {
    }

    @media screen and (max-width: $high-hd-screen) {
    }

    @media screen and (max-width: $full-hd-screen) {
    }

    @media screen and (max-width: $dell-hd-screen) {
    }

    @media screen and (max-width: $mac-hd-screen) {
    }

    @media screen and (max-width: $ready-hd-screen) {
    }

    @media screen and (max-width: $big-tablet-screen) {
    }

    @media screen and (max-width: $middle-tablet-screen) {
    }

    @media screen and (max-width: $small-tablet-screen) {
    }

    @media screen and (max-width: $big-phone-screen) {
    }

    @media screen and (max-width: $middle-phone-screen) {
    }

    @media screen and (max-width: $small-phone-screen) {
    }
}

