.product-color__picture {
  width: 80px;
  height: 80px;
  border: 1px solid $dark-gray;
  border-radius: 4px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $light-gray;
  }

  &:active {
    outline: 2px solid $darkest-carrot;
  }

    @media screen and (max-width: $q-hd-screen) {
    }

    @media screen and (max-width: $high-hd-screen) {
    }

    @media screen and (max-width: $full-hd-screen) {
    }

    @media screen and (max-width: $dell-hd-screen) {
    }

    @media screen and (max-width: $mac-hd-screen) {
    }

    @media screen and (max-width: $ready-hd-screen) {
    }

    @media screen and (max-width: $big-tablet-screen) {
    }

    @media screen and (max-width: $middle-tablet-screen) {
    }

    @media screen and (max-width: $small-tablet-screen) {
    }

    @media screen and (max-width: $big-phone-screen) {
    }

    @media screen and (max-width: $middle-phone-screen) {
    }

    @media screen and (max-width: $small-phone-screen) {
    }
}

@import "_current/_product-color__picture_current";
