.button {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: $carrot;
  color: $white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  border-radius: 4px;

  &:hover {
    background-color: $dark-carrot;
  }

  &:active {
    background-color: $darkest-carrot;
  }
}

.button-dark {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: $dark-gray;
  color: $white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  border-radius: 4px;
}
