:root {
  --white: #FFFFFF;
  --dark-gray: #989898;
  --light-gray: #F2F2F2;
  --black: #000000;
  --aqua: #008CF0;
  --carrot: #F36236;
  --dark-carrot: #DA4A0C;
  --background-color: #F8FAFE;
  --gold: #FFD017;
}
