/* screen sizes */
$q-hd-screen: 3451px;
$high-hd-screen: 2561px;
$full-hd-screen: 1930px;
$dell-hd-screen: 1660px;
$mac-hd-screen: 1499px;
$ready-hd-screen: 1290px;

$big-tablet-screen: 1030px;
$middle-tablet-screen: 850px;
$small-tablet-screen: 780px;

$small-phone-screen: 320px;
$middle-phone-screen: 375px;
$big-phone-screen: 414px;

$white: #FFFFFF;
$dark-gray: #989898;
$light-gray: #F2F2F2;
$black: #000000;
$aqua: #008CF0;
$carrot: #F36236;
$dark-carrot: #DA4A0C;
$background-color: #F8FAFE;
$gold: #FFD017;
