@import url(__old-price/_price-menu__old-price.css);
@import url(__discont/_price-menu__discont.css);
@import url(__price/_price-menu__price.css);
@import url(__delivery-bold/_price-menu__delivery-bold.css);

.price-menu {
  padding: 20px;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 40px;
}
