.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  position: sticky;
  top: 0;
  background-color: $background-color;
  z-index: 1;

    @media screen and (max-width: $q-hd-screen) {
    }

    @media screen and (max-width: $high-hd-screen) {
    }

    @media screen and (max-width: $full-hd-screen) {
    }

    @media screen and (max-width: $dell-hd-screen) {
    }

    @media screen and (max-width: $mac-hd-screen) {
    }

    @media screen and (max-width: $ready-hd-screen) {
    }

    @media screen and (max-width: $big-tablet-screen) {
    }

    @media screen and (max-width: $middle-tablet-screen) {
    }

    @media screen and (max-width: $small-tablet-screen) {
    }

    @media screen and (max-width: $big-phone-screen) {
    }

    @media screen and (max-width: $middle-phone-screen) {
    }

    @media screen and (max-width: $small-phone-screen) {
    }
}

@import "__basket-counter-wrapper/_header__basket-counter-wrapper";
@import "__favorites/_header__favorites";
@import "__favorites-link/_header__favorites-link";
@import "__basket-link/_header__basket-link";
@import "__basket/_header__basket";
@import "__logo-wrapper/_header__logo-wrapper";
@import "__title-decoration/_header__title-decoration";
@import "__favorites-counter-wrapper/_header__favorites-counter-wrapper";
@import "__menu-wrapper/_header__menu-wrapper";
